<div class="flex items-center">
    <div class="flex-none">
        <div class="tabs">
            <a id="ch-tab-episodes" class="ch-tab tab-active">Episodes</a>
            <a id="ch-tab-details" class="ch-tab">Details</a>
        </div>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Size</th>
        <th>Last updated</th>
    </tr>
    </thead>
    <tbody>
    {{ range $item := . }}
    <tr>
        <th>
            <label>
                <input id="{{ $item.Id }}" name="id" value="{{ $item.Id }}" type="checkbox" class="checkbox"/>
            </label>
        </th>
        <td>{{ $item.Title }}</td>
        <td>{{ $item.Description }}</td>
        <td>{{ $item.File.Size }}</td>
        <td>{{ $item.UpdatedAt }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
