<form id="delete-selected-form" action="/podcasts/delete" hx-post="/podcasts/delete" hx-swap="none" method="POST">
    <table hx-get="/" hx-push-url="true" hx-target="#content" hx-swap="outerHTML" hx-trigger="tableRefresh from:body">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Feed</th>
            <th>Episodes</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        {{ range $item := . }}
        <tr>
            <th>
                <label>
                    <input id="{{ $item.Id }}" name="id" value="{{ $item.Id }}" type="checkbox" class="checkbox"/>
                </label>
            </th>
            <td>
                <a href="/podcasts/{{ $item.Id }}" hx-get="/podcasts/{{ $item.Id }}" hx-target="#content"
                   hx-swap="outerHTML" hx-trigger="click" hx-push-url="true">{{ $item.Title}}</a>
            </td>
            <td><a href="{{ $item.FeedUrl }}"><i class="fa-solid fa-rss"></i></a></td>
            <td></td>
            <td>{{ $item.UpdatedAt }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</form>
