<!doctype html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>

<div class="app">
    <div class="navbar">
        <div class="flex-1">
            <h1><a href="/" class="normal-case text-xl">Simple Podcast Service</a></h1>
        </div>
        <div class="flex-none gap-1">
            {{ if .User }}
            {{ .User }}
            <a href="/logout" hx-post="/logout" class="btn-user ml-2">Logout</a>
            {{ end }}
        </div>
    </div>
    {{.Content}}
    <footer class="footer footer-center p-4 text-base-content mt-16">
        <div>
            <p>Copyright © 2023</p>
        </div>
    </footer>
</div>

</body>
</html>
